---
layout: dtk/base.njk
css: [index.css]
---
<div class="index-container" style=" background-image: url( '{{ background }}')">
    <div class="index-title">
        {{ content | safe }}
    </div>
    <div class="index-logo">
        <img src="{{ logo }}" />
    </div>
    <div class="index-intro">
        {% include "dtk/partials/intro.njk" %}
    </div>
</div>
