<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
        {% include "dtk/imports/font.njk" %}
        <link rel="stylesheet" href="/assets/css/core.css" />
        <link rel="stylesheet" href="/assets/css/post.css" />
        <link rel="stylesheet" href="/assets/css/partials/meta.css" />
        <link rel="stylesheet" href="/assets/css/layouts/{{ layoutCss }}" />
	</head>
	<body>
        <div class="post-body">
            <main class="post-main">
                {{ content | safe}}
            </main>
            <div class="post-border-right">
                <nav class="post-button">
                    <a href="/"><img src="/assets/images/horizontal_rule.png">{{ button }}<img src="/assets/images/navigate_next.png"></a>
                </nav>
            </div>
        </div>
        <footer class="post-border-bottom">
            <div class="post-title-text">
                <a href="/">{{ callout }}</a>
            </div>
            <div class="post-title-num">
                <p>#</p>
            </div>
        </footer>
	</body>
</html>
