{% set intro %}
{% include '../../../intro.md' %}
{% endset %}

{{ intro | renderUsingMarkdown | safe }}

{% if person1.name %}
<div class="index-people">
    <div>
        <p class="index-people-name">{{ person1.name }}</p>
        <p class="index-people-text">{{ person1.title }}</p>
        <p class="index-people-text">{{ person1.company }}</p>
    </div>

    {% if person2.name %}
    <div>
        <p class="index-people-name">{{ person2.name }}</p>
        <p class="index-people-text">{{ person2.title }}</p>
        <p class="index-people-text">{{ person2.company }}</p>
    </div>
    {% endif %}
</div>  
{% endif %}