<div>
    <h1>{{ title }}</h1>
</div>
<div>
    {% artist artist %}
    <p>Year: <span>{{created}}</span></p> 
    <p>Medium: <span>{{medium}}</span></p>
    <p>Location: <span>{{location.address}}</span></p>
</div>