<div>
    <h1>{{ title }}</h1>
</div>
<div>
    {% artist artist %}
    <p class="meta-text"><span class="meta-bold">Year:</span> <span>{{created}}</span></p> 
    <p class="meta-text"><span class="meta-bold">Medium:</span> <span>{{medium}}</span></p>
    <p class="meta-text"><span class="meta-bold">Location:</span> <span>{{location.address}}</span></p>
</div>