<nav class="base-nav">
    <a href="/collection">Collection</a>
    <span class="divider">|</span>
    <a href="/map">Map</a>
    <span class="divider">|</span>
    <a href="/about">About</a>
    <span class="divider">|</span>
    <a href="/archive">Archive</a>
    <a class="base-nav-end" href="/">DTK Art Walk</a>
</nav>